.botones-azules{
    -fx-background-color:  #75a5fe;
    -fx-border-width: 0.5px;
    -fx-border-color:  white;
}
.botones-azules:hover{
    -fx-background-color: #4eb9ef;
}
.botones-azules-claritos{
    -fx-background-color: #97b4f8;
    -fx-border-width: 0.5px;
    -fx-border-color:  white;
}
.botones-azules-claritos:hover{
    -fx-background-color: #8dc7f6;
}
.botones-naranjas{
    -fx-background-color: #f0bf4c;
    -fx-border-width: 0.5px;
    -fx-border-color:  white;
}
.botones-naranjas:hover{
    -fx-background-color: #f8e51f;
}
.botones-naranjas-clarito{
    -fx-background-color: #f3cb84;
    -fx-border-width: 0.5px;
    -fx-border-color:  white;
}
.botones-naranjas-clarito:hover{
    -fx-background-color: #f3e788;
}
.menuu{
    -fx-text-fill: white;
    -fx-background-color: #a0a4a0;
}
.botonesCientifica {
    -fx-background-color: #4065f8;
    -fx-border-width: 0.5px;
    -fx-border-color: white;
    -fx-text-fill: white;
    -fx-font-size: 12px; /* Tamaño de la fuente */
    -fx-font-weight: bold; /* Negrita */
}
.textoEcuaciones{
    -fx-text-fill: white;
    -fx-font-size: 18px; /* Tamaño de la fuente */
    -fx-font-weight: bold; /* Negrita */
}
.DEL {
    -fx-background-color: #ff5c5c;
    -fx-border-width: 0.5px;
    -fx-border-color: white;
    -fx-text-fill: white;
    -fx-font-size: 12px; /* Tamaño de la fuente */
    -fx-font-weight: bold; /* Negrita */
}
.canva{
    -fx-border-width: 1.5px;
    -fx-border-color: white;
}

.x{
    -fx-font-size: 20px;
}